* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#form-container {
    border: 1px solid #000;
    width: fit-content;
    padding: 15px;
    border-radius: 3px;
}

#form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input, #btn-submit {
    width: 300px;
    padding: 5px;
}

#numeros {
    height: 100%;
    flex: 1;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 5px;
}

#lista-numeros {
    list-style: none;
    padding: 15px;
    overflow-y: scroll;
    height: 100%;
    border: 1px solid #000;
    border-radius: 3px;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    width: 332px;
}

#lista-numeros::-webkit-scrollbar, #numeros::-webkit-scrollbar {
  display: none;
}

li {
    width: 300px;
    padding: 5px;
    display: flex;
    gap: 5px;
    background-color: #EDE9E6;
    border-radius: 3px;
}

hr {
}

li div {
    flex: 1;
}

li button {
    padding-left: 5px;
    padding-right: 5px
}